<div class="col container">
  <div class="d-flex flex-row align-items-center" style="margin-top: 128px">
    <i
      class="pi pi-angle-left"
      style="font-size: 24px"
      role="button"
      (click)="goBack()"
    ></i>
    <h1 class="text-center ms-auto me-auto">Assentos</h1>
  </div>
  <div class="mt-5 text-center">
    <div class="d-flex flex-column" style="font-size: 24px; font-weight: 400">
      <div style="font-weight: 600">Hoje</div>
      <div>{{ formatDate(date) }} - 15:00</div>
    </div>
  </div>
  <div class="d-flex flex-row mt-3 gap-5">
    <app-cartaz
      titulo="Um Filho"
      [imagem]="img"
      style="width: fit-content"
    ></app-cartaz>
    <div class="d-flex flex-column me-4 gap-3">
      <div class="row gap-3 gy-4 justify-content-between">
        <div
          class="col-4 col-md-2"
          *ngFor="let assento of assentos"
          (click)="toggleSelection(assento)"
        >
          <div
            class="square-box text-center d-flex justify-content-center align-items-center"
            [ngClass]="getSeatClass(assento)"
          >
            {{ assento.numero }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-5">Selecione os assentos que deseja.</div>
  <div
    class="container p-3 border rounded d-flex justify-content-between align-items-center mt-3 mb-5"
    style="min-height: 130px"
  >
    <div class="d-flex align-items-center">
      <div>
        <p class="mb-2 fw-bold">Assentos selecionados:</p>
        <div class="d-flex gap-2">
          <div
            class="square-box text-center d-flex justify-content-center align-items-center available"
            *ngFor="let assento of selectedSeats"
          >
            {{ assento }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <p class="mb-0 text-center">Total da Sessão</p>
      <h3 class="mb-0 fw-bold">
        {{ 15 * selectedSeats.length | currency : "BRL" }}
      </h3>
    </div>

    <button class="btn btn-success fw-bold px-4" style="border-radius: 20px">
      Compre agora
    </button>
  </div>
</div>
