.cartaz-container {
  width: 242px;
  height: 356px;
  border-radius: 16px;
  display: flex;
}

.cartaz-titulo {
  align-self: flex-end;
  margin-bottom: 10%;
  margin-left: 8px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
