/* Ajuste do corpo para compensar o navbar fixo */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px; /* Espaço reservado para o navbar fixo */
  padding-bottom: 40px;
}

.form-box {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .form-box {
    padding: 30px;
  }

  h2 {
    font-size: 20px;
  }

  input {
    padding: 10px;
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}

/* Estilos do navbar */
::ng-deep .p-toolbar {
  border-radius: 0;
  background-color: #ffffff;
  border-color: #e0e0e0;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

::ng-deep .fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo-container {
  flex: 1;
}

.p-toolbar-group-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.header-actions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}

.pi {
  font-size: 1.2rem;
  cursor: pointer;
}

.ingressos {
  color: #151411;
  font-weight: 500;
  cursor: pointer;
}
